*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.linea{
	background: #550b51;
	height: 5px;
	width: 100%;
	display: block;
}
.tamaño-img-galeria{
	width: 33%;
}
.imgGaleria{
	width: 100%;
    height: 300px;
    border-radius: 10px;
    margin: auto;
}
.contenedor > div{
    width: 350px;
    height: 350px;
    padding: 15px 20px;
    border-radius: 20px;
    margin: 10px;
}
.contenedor > div > img{
	width: 100%;
}